In [11]:
import pandas as pd
plants_df = pd.read_csv('../data/House_Plants.csv', skiprows=2,
                        names=['name','type','latin_name',
                               'name_1','name_2','name_3',
                               'water_lmh','water_desc',
                               'light', 'issues', 'fert',
                               'cat_tox', 'cat_tox_desc',
                               'dog_tox', 'dog_tox_desc',
                               'fun_fact'])

In [18]:
plants_df.name[0]

'Aloe Vera'

In [14]:
plant_df = plants_df[plants_df['name'] == 'Aloe Vera']

In [20]:
plants_df[plants_df['name'] == 'Aloe Vera']

,name,type,latin_name,name_1,name_2,name_3,water_lmh,water_desc,light,issues,fert,cat_tox,cat_tox_desc,dog_tox,dog_tox_desc,fun_fact
0,Aloe Vera,Cactus / Succulent,Aloe barbadensis miller,NaN,NaN,NaN,Low,Water deeply once every 7 days.,Bright and indirect,NaN,NaN,Mild,"Vomiting, diarrhoea, lethargy, depression, ano...",Mild,"Vomiting, diarrhoea, lethargy, depression, ano...",NaN